<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% if user.is_authenticated and user.is_superuser %}

    <form method="POST">
        {% csrf_token %} 
        <legend>New</legend>
        <fieldset>

            {{form.as_p}}


            <button action="submit">
            create
        </button>
        </fieldset>
    </form>

    <h1>NB: grades are to be entered without the percern sign</h1>
    {% else %} 
    <h1>you are not allowed to perform any action on this page unless you're an instructor in 
        LACEMVI
    </h1>
    <p>if you're one, kindly message the DOS am you'll be allowed on this page</p>
    {% endif %}

</body>
</html>